# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# Morph L2
MORPH_RPC_URL=https://rpc-hoodi.morph.network
MORPH_CHAIN_ID=2910
MORPH_PRIVATE_KEY=

# ERC-20 Reward Token (AFT)
DEPLOYER_PRIVATE_KEY=
REWARD_TOKEN_ADDRESS=
REWARD_AMOUNT=10000000000000000000
