# Backend API
BACKEND_API_URL=http://localhost:3001

# NextAuth (Optional - Remove if not using authentication)
# AUTH_URL=http://localhost:3000
# AUTH_SECRET=S2Lgmol6fSKEz6g4wJ7Ngbw2VFvU/mZCJbOKpyVeV3eyqij7VdbC1UGuNSb3J5f8

# Application
NEXT_PUBLIC_APP_NAME=aseanflow
NEXT_PUBLIC_APP_URL=http://localhost:3000
