manage-package-manager-versions=true
strict-peer-dependencies=false

onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=@pnpm/core-js-pure
onlyBuiltDependencies[]=core-js-pure
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=keccak
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=secp256k1
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver

overrides.@types/react=19.2.2
overrides.@types/react-dom=19.2.2
overrides.validator=>=13.15.20
overrides.tmp=>=0.2.4
overrides.js-yaml=>=4.1.1
